__pycache__/
*.py[cod]
.scannerwork/
sonar-project.properties
*.so
.Python
.idea/
env/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
htmlcov/
.tox/
.coverage
.cache
*.log
staticfiles/
media/
.env
.vscode/
db.sqlite3