<!DOCTYPE html>
<html lang="en">

<head>
    <title>Loan Sheet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <style>
        btn_class{
            border: 1px solid green;
            padding:5px;
            border-radius: 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Premium Sheet Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if data.user %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{data.user}}</a></li>
                {% else %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{context.user}}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <form action="{% url "wp" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row" style="margin: 20px;">
            <div class="form-group col-xs-3">
                <label for="product">Choose File:</label>
                <input type="file" class="form-control-file" title="Upload excel file"
                name="excel_file" accept=".xls,.xlsx,.csv" required>
                                <!-- style="border: 1px solid black; padding: 5px;"  -->
            </div>
            <div class="form-group col-xs-2 dropdown">
                <label for="format">Sheet Upload Format:</label>
                <select name="format" id="format" required>
                    <option value="csv">csv</option>
                    <option value="xlsx">xlsx</option>
                </select>
            </div>
            <div class="form-group col-xs-1" style="margin-top: 22px;">
                <input type="submit" value="Upload" class="btn btn-success btn_class">
            </div>
            <div class="form-group col-xs-1" style="margin-top: 22px;">
                <button type="button"  id="submit_1" value="submit" class="btn btn-success btn_class">SUBMIT</button>
            </div>
        </div>
    </form>
    <p></p>
    <hr>
    {% if context.valid_msg %}
    <h5 style="margin: 10px;">{{context.valid_msg}}</h5>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <h5 style="margin: 10px;">{{message}}</h5>
    {% endfor %}
    {% endif %}
    <div style="overflow-x: auto; margin: 10px;">
        <table class="table table-striped">
            <tr>
                {% for object in context.headers %}
                <th style="font-size: 10px;">{{ object }} <input type="checkbox" id={{object}} checked> </th>
                {% endfor %}
            </tr>
            {% for object in context.tail %}
            <tr>
                {% for value in object %}
                <td style="font-size: 10px;">{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div>
</body>
<script type="text/javascript">
$(function() {
    $("#datepicker-13").datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<script>

    $("#submit_1").click(function(){
        var that = this;
        const checked_headings =[];
        $(":checked").parent('th').each(function(){
            checked_headings.push($(this).text());
        })
        $.ajax({
            type: "POST",
            url: `../../api/submit/`,
            data: {'checked_headers': checked_headings},
            contentType: 'application/json',
            dataType: "json",
            success: function (result) {
                alert('success')
            },
            error: function (result) {
                if(result.status == 400) {
                    var errorMessage = JSON.parse(result.responseText);
                    alert(errorMessage);
                }
            }
        });

    });
</script>
</html>